 .hero-brick-container{
    height: 600px;
    width:auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-image-container{
    position: absolute;
    width:100%;
    height:100%;
}

.HeroImageDiv{
    width:100%;
    height:100%;
}



.hero-content-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    width: 60%;
    height:100%;
    justify-content: space-between;
    padding-bottom: 7%;
    padding-top: 5%;
}

.hero-title{
    letter-spacing: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-subtitle-one{
    letter-spacing: 3px;
}

/* mobile */
@media screen and (min-width:300px) and (max-width:576px){
    .hero-brick-container{
        height: 600px;
        width:100vw;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .hero-image-container{
        position: absolute;
        width:100%;
        height:100%;
    }
    
    .HeroImageDiv{
        width:100%;
        height:100%;
    }
    .hero-content-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: auto;
        width: 60%;
        height:100%;
        justify-content: space-between;
        padding-bottom: 7%;
        padding-top: 5%;
    }
    .hero-title{
        letter-spacing: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-subtitle-one{
        letter-spacing: 3px;
    }
}
